<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button color="secondary" outline (click)="getAnother()">Get Another</button>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-card>
    <ion-img src="/assets/wine.jpg"></ion-img>

    <ion-card-content>
      <ion-card-title>Mystery Road</ion-card-title>
      <h2>{{wine?.name}}</h2>
      <p>{{wine?.description}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
